html
  head
    title Temperature Monitor
    include meta.pug
    script(defer src="/chart.min.js")
    script(defer src="/luxon.min.js")
    script(defer src="/chartjs-adapter-luxon.min.js") 
    script(defer src="/js/chartMaker.js")
  body(class="w3-theme-d1")
    include navbar.pug
    div(class="w3-container w3-margin-right w3-margin-left w3-margin-bottom w3-theme-l1 w3-card-4 w3-round")
      div(class="w3-row theme-bottom-border")
        div(class="w3-container w3-half")
          div(class="lds-ellipsis w3-theme-l1" id="loaderHour")
            div
            div
            div
            div
          canvas(id="hourChart") 

        div(class="w3-container w3-half")
          div(class="lds-ellipsis w3-theme-l1" id="loaderDay")
            div
            div
            div
            div
          canvas(id="dayChart")
      div(class="w3-container")
        div(class="lds-ellipsis w3-theme-l1" id="loaderWeek")
          div
          div
          div
          div
        canvas(id="weekChart" class="theme-bottom-border")
      div(class="w3-container")
        div(class="lds-ellipsis w3-theme-l1" id="loaderMonth")
          div
          div
          div
          div
        canvas(id="monthChart")